body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  background: #d4cbc8;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 100%;
  max-width: 900px;
  height: 500px;
  padding-top: 60px;
}

.profile-icon {
  position: absolute;
  top: 20px;
  right: 30px;   
}

.profile-icon {
  cursor: pointer;
}

/* Battery bottom-right */
.bottom-icon {
  position: absolute;
  bottom: 20px;
  right: 30px;
  opacity: 0.9;
}

.welcome {
  font-size: 26px;
  color: #213d63;
  margin-left: 50px;
  margin-bottom: 40px;
}

.main-btn {
  display: block;
  width: 220px;
  margin: 20px auto;
  padding: 15px;
  background: #213d63;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}