body {
  margin: 0;
  font-family: "Arial", monospace;
  background: #d4cbc8;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 100%;
  max-width: 900px;
  padding-top: 40px;
}

/* Back Button */
.back-btn {
  position: absolute;
  top: 20px;
  left: 30px;
  cursor: pointer;
}

/* Big Profile Icon */
.profile-icon-big {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

.title {
  text-align: center;
  font-size: 28px;
  color: #213d63;
  margin-bottom: 25px;
}

/* Field Boxes */
.field-box {
  width: 80%;
  max-width: 500px;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
}

.field-box input {
  padding: 10px;
  background: white;
  border: 2px solid gray;
  border-radius: 8px;
  font-size: 16px;
  color: #213d63;
}

.edit-link {
  margin-top: 5px;
  font-size: 14px;
  color: green;
  text-decoration: underline;
  cursor: pointer;
}

/* Buttons */
.blue-btn {
  display: block;
  width: 220px;
  margin: 25px auto;
  padding: 15px;
  background: #213d63;
  color: white;
  border: darkcyan;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.logout-btn {
  display: block;
  width: 220px;
  margin: 10px auto 40px auto;
  padding: 15px;
  background: #943939;
  color: white;
  border: darkcyan;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
